<h1>Login</h1>

<div class="container">
     <div class="row">
         <div class="col-xs-push-0 col-lg-offset-10">
             <a href="index.html#/login" class="btn btn-default signupbutton">Login</a>
             <a href="index.html#/signup" class="btn btn-default signupbutton">Signup</a>

         </div>

     </div>
      <div style="font-size: 40px;color: #2b669a; padding-left: 17%;padding-bottom: 60px"> Welcome to Higgsup Class Management</div>
     <div class="rơw">
         <div class="login">
          <form class="form-signin">
            <label for="inputUsername" class="sr-only">Username</label>
            <input ng-model="login.username" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input  ng-model="login.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block " ng-click="login()">Log in</button>
          </form>
         </div>
     </div>

   
    
     </div>

    </div> <!-- /container -->