<div>
    <h1>List comments</h1>
    <button id="clickShow" ng-click="getComment(postId)">List Comments</button>
    <ul>
        <li>{{postContent}}</li>
        <button type="button" data-toggle="modal" data-target="#EditPostModal"> Edit Post
            <!--<i class="fa fa-plus-square" style="font-size: 10em;color: #28A2C7"></i>-->
        </button>
        <div id="EditPostModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="myModal">&times;</button>
                        <h4 class="modal-title">Edit Classroom</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-signin">
                            <p class="form-control">{{postContent}}</p>
                            <input ng-model="editContent" type="text"
                                   class="form-control" placeholder="Content Post" required autofocus>
                            <br>
                            <button class="btn btn-lg btn-primary btn-block " data-dismiss="myModal"
                                    ng-click="editPost(postId)">Save
                            </button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <li ng-repeat="comment in comments">
            <a href="#" editable-text="comment.commentContent"
               onaftersave="editComment(comment)">{{comment.commentContent}} + {{comment.id}}</a>
            <button ng-click="deleteComment(comment.id)">Xóa</button>
            <button ng-click="editComment(postId)">Edit</button>

        </li>
        <input ng-model="comment" type="text" placeholder="Comment" required autofocus>
        <br>
        <button ng-click="addComment(postId)">Create</button>

    </ul>
</div>


